<%- include('../partials/header')%>
<h2>Add an Activity</h2>
<form action="/activities" method="POST">
    <label>Activity Name:
        <input type="text" name="activityName"></input>
    </label></br>
    <label>Description:
        <textarea id="w3review" name="w3review" rows="4" cols="50">
            </textarea>
    </label></br>
    <label>Location
        <select type="text" name="location">
            <option style="display:none"></option>
            <option value="north-shore">North Shore</option>
            <option value="west-shore">West Shore</option>
            <option value="east-shore">East Shore</option>
            <option value="inland">inland</option>
            <option value="Waikiki">Waikiki</option>
        </select>
    </label></br>
    <label>Activity Type
        <select type="text" name="type">
            <option style="display:none"></option>
            <option value="hiking">Hiking</option>
            <option value="water-sport">Water Sport</option>
            <option value="beaches">Beaches</option>
            <option value="cultural">cultural</option>
        </select>
    </label></br>
    <input type="submit" value="Add Activity">
</form>
<%- include('../partials/footer')%>