<%- include('../partials/header')%>
<h2>Add an Activity</h2>
<form action="/activities" method="POST">
    <label>Activity Name:
        <input type="text" name="activityName"></input>
    </label></br>
    <label>Description:
        <textarea name="description" rows="4" cols="50">
            </textarea>
    </label></br>
    <label>Location
        <select type="text" name="location">
            <option style="display:none"></option>
            <option value="North Shore">North Shore</option>
            <option value="West Shore">West Shore</option>
            <option value="South Shore">South Shore</option>
            <option value="East Shore">East Shore</option>
            <option value="Inland">Inland</option>
            <option value="Waikiki">Waikiki</option>
        </select>
    </label></br>
    <label>Activity Type
        <select type="text" name="activityType">
            <option style="display:none"></option>
            <option value="Hiking">Hiking</option>
            <option value="Thrilling Adventure">Thrilling Adventure</option>
            <option value="Water Sport">Water Sport</option>
            <option value="Beach">Beach</option>
            <option value="Cultural">Cultural</option>
            <option value="Food">Food</option>
        </select>
    </label></br>
    <input type="submit" value="Add Activity">
</form>
<%- include('../partials/footer')%>