body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.login img {
  height: 30px;
}

.review-info img {
  border-radius: 50%;
  height: 40px;
}

.review-info {
  display: flex;
  justify-content: center;
  align-items: center;
}